<section class="best section">
  <div class="container">

    <h2 class="best__title">Лучшие рестораны</h2>

    <ul class="best__wrapper">
      <li class="best__items">
        <article class="food">
          <img class="food__img" width="375" height="304" src="images/food/blaze-p.jpg" alt="Пицца Блейз">
          <div class="food__content">
            <h3 class="food__title">Blaze Pizza</h3>
            <div class="food__inner">
              <time datetime="2023-01-01 11:00 - 22:00" class="food__time">11:00 - 22:00</time>
              <button class="food__btn" type="button">
                <svg class="food__svg" width="14" height="13" viewBox="0 0 14 13" fill="#FFFFFF">
                    <use xlink:href="images/sprite.svg#icon-arrow"></use>
                  </svg>
                </button>
              </div>
            </div>
          </article>
      </li>
      <li class="best__items">
          <article class="food">
            <img class="food__img" width="375" height="304" src="images/food/runcho-p.jpg" alt="Пицца Рунчо">
            <div class="food__content">
            <h3 class="food__title">Pizza Runcho</h3>
            <div class="food__inner">
              <time datetime="2023-01-01 12:00 - 21:00" class="food__time">12:00 - 21:00</time>
              <button class="food__btn" type="button">
                <svg class="food__svg" width="14" height="13" viewBox="0 0 14 13" fill="#FFFFFF">
                  <use xlink:href="images/sprite.svg#icon-arrow"></use>
                </svg>
              </button>
            </div>
          </div>
        </article>
      </li>
      <li class="best__items">
        <article class="food">
          <img class="food__img" width="375" height="304" src="images/food/hut-p.jpg" alt="Пицца Худ">
          <div class="food__content">
            <h3 class="food__title">Pizza Hut</h3>
            <div class="food__inner">
              <time datetime="2023-01-01 11:00 - 22:00" class="food__time">11:00 - 22:00</time>
              <button class="food__btn" type="button">
                <svg class="food__svg" width="14" height="13" viewBox="0 0 14 13" fill="#FFFFFF">
                  <use xlink:href="images/sprite.svg#icon-arrow"></use>
                </svg>
              </button>
            </div>
          </div>
        </article>
      </li>
      <li class="best__items">
        <article class="food">
          <img class="food__img" width="375" height="304" src="images/food/mcDonald's.jpg" alt="Макдоналдс">
          <div class="food__content">
            <h3 class="food__title">McDonald`s</h3>
            <div class="food__inner">
              <time datetime="2023-01-01 06:00 - 23:00" class="food__time">06:00 - 23:00</time>
              <button class="food__btn" type="button">
                <svg class="food__svg" width="14" height="13" viewBox="0 0 14 13" fill="#FFFFFF">
                  <use xlink:href="images/sprite.svg#icon-arrow"></use>
                </svg>
              </button>
            </div>
          </div>
        </article>
      </li>
      <li class="best__items">
        <article class="food">
          <img class="food__img" width="375" height="304" src="images/food/kfc.jpg" alt="Кфс">
          <div class="food__content">
            <h3 class="food__title">KFC</h3>
            <div class="food__inner">
              <time datetime="2023-01-01 06:00 - 23:30" class="food__time">06:00 - 23:30</time>
              <button class="food__btn" type="button">
                <svg class="food__svg" width="14" height="13" viewBox="0 0 14 13" fill="#FFFFFF">
                  <use xlink:href="images/sprite.svg#icon-arrow"></use>
                </svg>
              </button>
            </div>
          </div>
        </article>
      </li>
      <li class="best__items">
        <article class="food">
          <img class="food__img" width="375" height="304" src="images/food/star-b.jpg" alt="Бургер Звезда">
          <div class="food__content">
            <h3 class="food__title">Star Burgers</h3>
            <div class="food__inner">
              <time datetime="2023-01-01 09:00 - 21:00" class="food__time">09:00 - 21:00</time>
              <button class="food__btn" type="button">
                <svg class="food__svg" width="14" height="13" viewBox="0 0 14 13" fill="#FFFFFF">
                  <use xlink:href="images/sprite.svg#icon-arrow"></use>
                </svg>
              </button>
            </div>
          </div>
        </article>
      </li>
    </ul>

  </div>
</section>