<section class="delivery">
  <div class="container">
    <div class="delivery__wrapper">
      <div class="delivery__inner">
        <h1>
          <span class="sr-only">Главная страница</span>
        </h1>
        <h2 class="delivery__title">
          Доставка
          <span>за 15 минут</span>
        </h2>
        <p class="delivery__text">Самый быстрый сервис доставки еды в вашем городе. Не уложимся в срок - доставка за наш счёт</p>
        <a class="delivery__btn def-btn animation-btn" href="#">Заказать</a>
        <a class="delivery__more animation" href="#">Подробнее</a>
      </div>
      <div class="delivery__background" style="background-image: url('images/delivery-bg.png');"></div>
    </div>
  </div>
</section>