<section class="discount section">
  <div class="container">
    <div class="discount__wrapper">
      <div class="discount__bg" style="background-image: url('images/food-delivery.png');"></div>

      <div class="discount__content">
        <h2 class="discount__title">
          Оставайтесь дома,<br> а мы позаботимся о еде
        </h2>
        <p class="discount__text">
          У нас есть вкусная еда и мы готовы доставить её к вам домой! Воспользуйтесь нашей доставкой прямо сейчас и получите скиидку!
        </p>

        <ul class="discount__descr">

          <li class="discount__item">
              <svg class="discount__svg discount__svg--timer" width="32" height="32">
                <use xlink:href="images/sprite.svg#icon-timer"></use>
              </svg>
              <span class="discount__subtitle">Быстрая доставка за 15 минут</span>
          </li>

          <li class="discount__item">
              <svg class="discount__svg discount__svg--delivery" width="32" height="32">
                <use xlink:href="images/sprite.svg#icon-delivery"></use>
              </svg>
              <span class="discount__subtitle">Вежливые курьеры</span>
          </li>

          <li class="discount__item">
              <svg class="discount__svg discount__svg--restorant" width="32" height="32">
                <use xlink:href="images/sprite.svg#icon-restorant"></use>
              </svg>
              <span class="discount__subtitle">Более 500 заведений</span>
          </li>
          
        </ul>

        <button class="discount__btn def-btn" type="button">Подробнее</button>
      </div>

    </div>
  </div>
</section>