<section class="feedback section">
  <div class="container">
    <h2 class="feedback__title">Отзывы клиентов</h2>

    <ul class="feedback__wrapper">

      <li class="feedback__slider">
        <div class="feedback__slide">
          <img class="feedback__img" width="300" height="300" src="images/feedback/Mask-Group.jpg" alt="Фото Дарьи">
          <div class="feedback__content">
            <blockquote class="feedback__blockquote">
              SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку - однозначно рекомендую!
            </blockquote>
            <cite class="feedback__author">Дарья</cite>
            <span class="feedback__quote">Ценитель вкусной еды</span>
          </div>
        </div>
      </li>

      <li class="feedback__slider">
        <div class="feedback__slide">
          <img class="feedback__img" width="300" height="300" src="images/feedback/Mask-Group.jpg" alt="Фото Дарьи">
          <div class="feedback__content">
            <blockquote class="feedback__blockquote">
              SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку - однозначно рекомендую!
            </blockquote>
            <cite class="feedback__author">Дарья</cite>
            <span class="feedback__quote">Ценитель вкусной еды</span>
          </div>
        </div>
      </li>

      <li class="feedback__slider">
        <div class="feedback__slide">
          <img class="feedback__img" width="300" height="300" src="images/feedback/Mask-Group.jpg" alt="Фото Дарьи">
          <div class="feedback__content">
            <blockquote class="feedback__blockquote">
              SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку - однозначно рекомендую!
            </blockquote>
            <cite class="feedback__author">Дарья</cite>
            <span class="feedback__quote">Ценитель вкусной еды</span>
          </div>
        </div>
      </li>

      <li class="feedback__slider">
        <div class="feedback__slide">
          <img class="feedback__img" width="300" height="300" src="images/feedback/Mask-Group.jpg" alt="Фото Дарьи">
          <div class="feedback__content">
            <blockquote class="feedback__blockquote">
              SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку - однозначно рекомендую!
            </blockquote>
            <cite class="feedback__author">Дарья</cite>
            <span class="feedback__quote">Ценитель вкусной еды</span>
          </div>
        </div>
      </li>

    </ul>
  </div>
</section>