<footer class="footer" id="contacts">
  <div class="container">
    <div class="footer__wrapper">

      <div class="footer__form">
        <a class="footer__logo logo" href="#body">
          <img  src="images/logo.svg" alt="Лого" width="200" height="40">
        </a>
        <form class="subscribe-form">
          <label class="subscribe-form__label"></label>
          <input class="subscribe-form__input" type="email" placeholder="Ваш email" required="required">
          <button class="subscribe-form__btn" type="button">
            <svg class="subscribe-form__svg" width="15" height="15" viewBox="0 0 21 20" fill="none" stroke="#363853" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
              <use xlink:href="images/sprite.svg#icon-telegram"></use>
            </svg>
            Подписаться
          </button>
        </form>
      </div>

      <ul class="footer__nav">
        
        <li class="footer__items">
          <a class="footer__link animation" href="#" target="_blank">Как это работает</a>
        </li>
        
        <li class="footer__items">
          <a class="footer__link animation" href="#" target="_blank">О нас</a>
        </li>
        
        <li class="footer__items">
          <a class="footer__link animation" href="#" target="_blank">Скачать приложение</a>
        </li>
        
        <li class="footer__items">
          <a class="footer__link animation" href="#" target="_blank">Продукты</a>
        </li>
        
        <li class="footer__items">
          <a class="footer__link animation" href="#" target="_blank">Новости</a>
        </li>
        
        <li class="footer__items">
          <a class="footer__link animation" href="#" target="_blank">Блог</a>
        </li>
        
        <li class="footer__items">
          <a class="footer__link animation" href="#" target="_blank">Блюда</a>
        </li>
        
        <li class="footer__items">
          <a class="footer__link animation" href="#" target="_blank">Партнеры </a>
        </li>
        
        <li class="footer__items">
          <a class="footer__link animation" href="#" target="_blank">Что нового?</a>
        </li>
        
        <li class="footer__items">
          <a class="footer__link animation" href="#" target="_blank">Меню</a>
        </li>
        
        <li class="footer__items">
          <a class="footer__link animation" href="#" target="_blank">ЧаВо</a>
        </li>
        
        <li class="footer__items">
          <a class="footer__link animation" href="#" target="_blank">Карта сайта</a>
        </li>
      </ul>
      
      <address class="social__wrapper">

        <ul class="social-address">
          <li class="social-address__item">
            <a class="social-address__link" href="#" target="_blank">
              <svg class="social-address__svg">
                <use xlink:href="images/sprite.svg#icon-location" width="27" height="27"></use>
              </svg>
              ул. Т.Г.Шевченко, 1
            </a>
          </li>
          <li class="social-address__item">
            <a class="social-address__link" href="tel:+380501112233" target="_blank">
              <svg class="social-address__svg">
                <use xlink:href="images/sprite.svg#icon-calling" width="27" height="27"></use>
              </svg>
              380501112233
            </a>
          </li>
          <li class="social-address__item">
            <a class="social-address__link" href="mailto:support@sfood.com" target="_blank">
              <svg class="social-address__svg">
                <use xlink:href="images/sprite.svg#icon-message" width="27" height="27"></use>
              </svg>
              support@sfood.com
            </a>
          </li>
        </ul>

        <ul class="social-networks">
          <li class="social-networks__item">
            <a class="social-networks__link" href="#" target="_blank">
              <svg class="social-networks__svg" width="22" height="19">
                <use xlink:href="images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-networks__item">
            <a class="social-networks__link" href="#" target="_blank">
              <svg class="social-networks__svg" width="22" height="22">
                <use xlink:href="images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-networks__item">
            <a class="social-networks__link" href="#" target="_blank">
              <svg class="social-networks__svg" width="22" height="22">
                <use xlink:href="images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>

      </address>
    </div>
  </div>

  <div class="footer-copy">
    <span class="footer-copy__text">© 2022 Simple Food</span>
  </div>
</footer>  