<section class="popular section">
  <div class="container">
    <h2 class="popular__title">Популярные категории</h2>

    <ul class="popular__nav">
      
      <li class="popular__wrapper">
        <button class="popular__btn" type="button" data-filter="all">
          <svg class="popular__svg" width="44" height="44">
            <use xlink:href="images/sprite.svg#icon-burger"></use>
          </svg>
          Бургеры
        </button>
      </li>

      <li class="popular__wrapper">
        <button class="popular__btn" type="button" data-filter=".category-a">
          <svg class="popular__svg" width="44" height="44">
            <use xlink:href="images/sprite.svg#icon-pizza"></use>
          </svg>
          Пицца
        </button>
      </li>

      <li class="popular__wrapper">
        <button class="popular__btn" type="button" data-filter=".category-b">
          <svg class="popular__svg" width="44" height="44">
            <use xlink:href="images/sprite.svg#icon-sandvich"></use>
          </svg>
          Сендвичи
        </button>
      </li>

      <li class="popular__wrapper">
        <button class="popular__btn" type="button" data-filter=".category-c">
          <svg class="popular__svg" width="44" height="44">
            <use xlink:href="images/sprite.svg#icon-asian"></use>
          </svg>
          Азиатская кухня
        </button>
      </li>

      <li class="popular__wrapper">
        <button class="popular__btn" type="button" data-filter=".category-d">
          <svg class="popular__svg" width="44" height="44">
            <use xlink:href="images/sprite.svg#icon-dish"></use>
          </svg>
          Cеты
        </button>
      </li>

    </ul>

    <ul class="popular__items">
      <li class="popular__blocks mix category-a">
        <article class="product-cart">
          <img class="product-cart__img" width="140" height="140" src="images/popular/cheese-b.png" alt="Чизбургер">
          <h3 class="product-cart__title">Чизбургер с листьями салата</h3>
          <span class="product-cart__price">160 грн.</span>
          <button class="product-cart__btn def-btn" type="button">В корзину</button>
        </article>
      </li>
      <li class="popular__blocks mix category-a">
        <article class="product-cart">
          <img class="product-cart__img" width="140" height="140" src="images/popular/beaf-b.png" alt="Чизбургер">
          <h3 class="product-cart__title">Бифбургер</h3>
          <span class="product-cart__price">190 грн.</span>
          <button class="product-cart__btn def-btn" type="button">В корзину</button>
        </article>
      </li>
      <li class="popular__blocks mix category-a">
        <article class="product-cart">
          <img class="product-cart__img" width="140" height="140" src="images/popular/royal.png" alt="Чизбургер">
          <h3 class="product-cart__title">Королевский чизбургер</h3>
          <span class="product-cart__price">260 грн.</span>
          <button class="product-cart__btn def-btn" type="button">В корзину</button>
        </article>
      </li>
      <li class="popular__blocks mix category-b">
        <article class="product-cart">
          <img class="product-cart__img" width="140" height="140" src="images/popular/black-b.png" alt="Чизбургер">
          <h3 class="product-cart__title">Черный гамбургер</h3>
          <span class="product-cart__price">199 грн.</span>
          <button class="product-cart__btn def-btn" type="button">В корзину</button>
        </article>
      </li>
      <li class="popular__blocks mix category-b">
        <article class="product-cart">
          <img class="product-cart__img" width="140" height="140" src="images/popular/chicken-b.png" alt="Чизбургер">
          <h3 class="product-cart__title">Чикен бургер</h3>
          <span class="product-cart__price">180 грн.</span>
          <button class="product-cart__btn def-btn" type="button">В корзину</button>
        </article>
      </li>
      <li class="popular__blocks mix category-b">
        <article class="product-cart">
          <img class="product-cart__img" width="140" height="140" src="images/popular/cheese-b.png" alt="Чизбургер">
          <h3 class="product-cart__title">Чизбургер с листьями салата</h3>
          <span class="product-cart__price">160 грн.</span>
          <button class="product-cart__btn def-btn" type="button">В корзину</button>
        </article>
      </li>
      <li class="popular__blocks mix category-c">
        <article class="product-cart">
          <img class="product-cart__img" width="140" height="140" src="images/popular/beaf-b.png" alt="Чизбургер">
          <h3 class="product-cart__title">Бифбургер</h3>
          <span class="product-cart__price">190 грн.</span>
          <button class="product-cart__btn def-btn" type="button">В корзину</button>
        </article>
      </li>
      <li class="popular__blocks mix category-c">
        <article class="product-cart">
          <img class="product-cart__img" width="140" height="140" src="images/popular/royal.png" alt="Чизбургер">
          <h3 class="product-cart__title">Королевский чизбургер</h3>
          <span class="product-cart__price">260 грн.</span>
          <button class="product-cart__btn def-btn" type="button">В корзину</button>
        </article>
      </li>
      <li class="popular__blocks mix category-d">
        <article class="product-cart">
          <img class="product-cart__img" width="140" height="140" src="images/popular/black-b.png" alt="Чизбургер">
          <h3 class="product-cart__title">Черный гамбургер</h3>
          <span class="product-cart__price">199 грн.</span>
          <button class="product-cart__btn def-btn" type="button">В корзину</button>
        </article>
      </li>
      <li class="popular__blocks mix category-d">
        <article class="product-cart">
          <img class="product-cart__img" width="140" height="140" src="images/popular/chicken-b.png" alt="Чизбургер">
          <h3 class="product-cart__title">Чикен бургер</h3>
          <span class="product-cart__price">180 грн.</span>
          <button class="product-cart__btn def-btn" type="button">В корзину</button>
        </article>
      </li>
    </ul>
    <button class="popular__more animation" type="button">Показать еще</button>
  </div>
</section>